#eventcontainer {
  width: 450px;
  height: 728px;
  background: #222;
  float: right;
  right: 120px;
  position: right;
  font-family: 'montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: left;
  color: white;
}

#eventtitle {
  background-color: #222;
  padding: 5px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#scheduledevents {
  padding: 10px;
  font-size: 25px;
}

button {
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    
  }
  
  #calendarHeader {
    font-size: 40px;
    color: white;
    /* background-color: rgb(76, 159, 140); */
    text-align: center;
  }

  #calendartop {
    padding: 5px;
    color: white;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
  }

  #backButton {
    background-color: #167b7e;
    position: relative;
    left: 650px;
  }
  #nextButton {
    background-color: #167b7e;
    position: relative;
    left: 650px;
  }

  #container {
    width: 420px;
    background-color: rgb(0, 0, 0, 0.85);
    left: 5px;
    float: left;
    margin-left: 20px;
  }
  #weekdays {
    width: 100%;
    display: flex;
    color: white;
    justify-content: right;
    /* background-color: #167b7e; */
  }
  #weekdays div {
    width: 60px;
    padding: 10px;
    
  }
  #calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .day {
    width: 50px;
    padding: 10px;
    height: 50px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgb(51, 51, 51);
    margin: 5px;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
  }
  .day:hover {
    background-color: #38878a;
  }

  .day + #currentDay {
    background-color:#e8f4fa;
  }
  
  .padding {
  cursor: default !important;
  background-color: #222 !important;
  box-shadow: none !important;
}

#newEventPopup, #editEventPopup {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #002d44;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
  color: white;
}
#eventTitleInput, #eventDayInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}

#cancelButton, #deleteButton, #clearButton {
  background-color: rgb(221, 0, 0);
  border-radius: 11px;
  color: white;
  border-color: white;
}

#saveButton, #editButton {
  background-color: #38878a;
  border-radius: 10px;
  border: 5px;
  border-color: white;
  color: white;
}

/* #eventcontainer {
  width: 450px;
  height: 728px;
  background: #222;
  float: right;
  right: 120px;
  position: relative;
  bottom: 685px;
  font-family: 'montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: left;
  color: white;
} */

#PopupBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}

table {
  color: white;
  border: 1px solid;
  width: 100%;
}

th, td {
  padding: 3px;
}

td + td {
  border-left: 1px solid white;
}

.editButton {
  background-color: rgb(221, 0, 0);
  border-radius: 11px;
  color: white;
  border-color: white;
  font-size: 10px;
}