$blue: rgb(22, 22, 41);
@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    @include flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    scroll-behavior: auto;
    overflow: auto;
    margin-top: 10vh;
}

h1 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

// 
.addWrap {
    @include flex;
    color: white;
    flex-direction: column;
    background-color: $blue;
    height: 50vh;
    width: 50vw;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    border-radius: 5px;
    scroll-behavior: auto;
}


input {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    width: 80%;
    outline: none;
    &:focus {
        border: 2px solid white;
        border-radius: 3px;
    }
    overflow: scroll;
}

input.postText {
    background-color: white;
    color: black;
    height: 15vh;
    width: 20vw;
}

button {
    border-color: white;
    border-style: outset;
    border: 10px;
    background-color: #04AA6D;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    
}

.posts {
    height: 50vh;
    width: 50vw;
    display: flex;
    background-color: white;
    color: black;
    flex-direction: column;
    scroll-behavior: auto;
    overflow: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
  
.modal-content {
    background-color: #000000;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.accessPost {
    @include flex();
    flex-direction: column;
    height: 10vh;
    width: 50vw;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    transition: width 0.2s, height 0.2s, background-color 0.2s, transform 0.2s;
    &:hover {
        background-color: $blue;
        cursor: pointer;
    }
}

.preDelButton {
    &:hover {
        background-color: red;
        cursor: pointer;
    }
}

.delButton {
    background-color: red;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.delModal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5vh 0;
  }
  
  .delModal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 40vw;
    max-width: 400px;
    height: 30vh;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .delModal h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .delModal p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  