* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

body{
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

table, th, td {
    padding: 1rem;
    border-collapse: collapse;
}



main.table {

    width: 82vw;
    height: 90vh;
    background-color: #fff5;

    backdrop-filter: blur(6px);
    box-shadow: 0 .4rem .8rem #000500;
    border-radius: .8rem;

    overflow:scroll


}

.table_header{
    width: 100%;
    height: 10%;
    background-color: #fff4ff;
    padding: .8rem 1rem;
}


 .table_body{
    width: 200%;
    max-height: 1000000%;
    background-color:#fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow-y: auto;
} 

.table_body::-webkit-scrollbar{
    width: 0.5rem;
    height:0.5rem;
}

.table_body:hover::-webkit-scrollbar-thumb{
    visibility: visible;

}

.table_body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

table{
    width: 100%;
}

thead th{
    position:sticky;
    top: 0;
    left: 0;
    background-color:#d5d1defe;
}

td, th {
    text-align: left;
    vertical-align: middle;
  }
  