* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: sans-serif;
}



body{
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

table, th, td {
    padding: 1rem;

}

main.table {

    width: 82vw;
    height: 90vh;
    background-color: #fff5;

    backdrop-filter: blur(6px);
    box-shadow: 0 .4rem .8rem #000500;
    border-radius: .8rem;

    overflow: hidden;


}
